.LoginPage {
  width: 800px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #000; */
}
.LoginPage .form-wrapper {
  border-radius: 4px;
  padding: 70px;
  width: 450px;
  background: #000000;
}
.LoginPage .form-wrapper h2 {
  color: #fff;
  font-size: 28px;
}
.LoginPage .form-wrapper form {
  margin: 25px 0 65px;
}
.LoginPage form .form-control {
  height: 50px;
  position: relative;
  margin-bottom: 16px;
}
.LoginPage .form-control input {
  height: 100%;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  padding: 0 20px;
}
.LoginPage .form-control input:is(:focus, :valid) {
  background: #444;
  padding: 16px 20px 0;
}
.LoginPage .form-control label {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  pointer-events: none;
  color: #8c8c8c;
  transition: all 0.1s ease;
}
.LoginPage .form-control input:is(:focus, :valid) ~ label {
  font-size: 10px;
  transform: translateY(-130%);
}
.LoginPage form button {
  width: 100%;
  padding: 16px 0;
  font-size: 1rem;
  background: #e50914;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
  border: none;
  outline: none;
  margin: 25px 0 10px;
  cursor: pointer;
  transition: 0.1s ease;
}
.LoginPage form button:hover {
  background: #c40812;
}
.LoginPage .form-wrapper :where(label) {
  color: #b3b3b3;
}
