.Profile {
  position: relative;
  color: #fff;
  width: 100%;
  height: calc(100vh);
  padding-bottom: 90px;
  background-color: #000;
  overflow-x: hidden;
}

.Profile__content {
  width: 100%;
  height: 120px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin: 10px 0;
}

.Profile__image {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 110px;
  height: 100%;
  background: #232323;
  border-radius: 12px 0 0 12px;
}
.Profile__field {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid rgba(153, 205, 50, 0.637);
  box-shadow: rgba(81, 255, 0, 0.1) 0px 1px 1px 0px inset,
    rgba(234, 255, 1, 0.25) 0px 50px 100px -20px,
    rgba(255, 225, 0, 0.3) 0px 30px 60px -30px;
}
.Profile__image img {
  width: 100%;
}
.ProfileContent__option {
  width: calc(100% - 110px);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 8px 15px;
  background: #232323;
  border-radius: 0 12px 12px 0;
  border-left: 0.5px solid #91919150;
}
.ProfileContentTitle {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.5px;
}
.ProfileContentRole {
  font-size: 14px;
  font-weight: 500;
}
.ProfileContentMoney {
  padding: 5px 15px;
  margin: 10px 0;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  letter-spacing: -0.5px;
  border-radius: 12px;
  background: #fed766;
}

.Profile__detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  overflow: auto;
}
.ProfileDetail__option {
  background-color: #151515;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
  border-radius: 8px;
  margin: 2.5px 0;
  box-shadow: rgb(0, 0, 0) 0px 4px 12px;
}

.ProfileDetail__option.upto_down {
  margin: 20px 0;
}
