.DashboardDriver {
  width: calc(100%);
  height: 100%;
}
.DashboardDriver__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 10px 20px;
}
.DashboardDriver__row,
.DashboardDriver__row_head {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  color: #fff;
  height: 50px;
  background-color: #222;
}
.DashboardDriver__row:nth-child(2n-1) {
  background-color: #222222c3;
}
.DashboardDriver__row p,
.DashboardDriver__row_head p {
  padding: 0 20px;
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.DashboardDriverRow__id {
  width: 6%;
}
.DashboardDriverRow__fullname {
  width: 22%;
}
.DashboardDriverRow__username {
  width: 17%;
}
.DashboardDriverRow__phone_number {
  width: 13%;
}
.DashboardDriverRow__balans {
  width: 8%;
}
.DashboardDriverRow__car_id {
  width: 5%;
}
.DashboardDriverRow__active {
  width: 14%;
}
.DashboardDriverRow__option {
  width: 15%;
  height: 100%;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.DashboardDriverRow__option .icon {
  width: 30px;
  border: none;
  border-radius: 8px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  background-color: #000;
  margin: 0 5px;
  opacity: 0.5;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: 0.4s ease-in-out;
}

.DashboardDriverRow__option .icon:hover {
  opacity: 1;
}
