.Sitebar {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 800px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #040404;
  justify-content: space-between;
  box-shadow: rgba(149, 231, 7, 0.722) 0px 12px 28px 0px,
    rgba(127, 231, 8, 0.763) 0px 2px 4px 0px,
    rgba(208, 202, 202, 0.209) 0px 0px 0px 1px inset;
}
.Sitebar__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.Sitebar__menu a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Sitebar__menu .icon {
  color: white;
  font-size: 24px;
  margin: 0 20px;
  pointer-events: none;
}
.Sitebar__menu .icon.active {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 32px;
  width: 120px;
  height: 100%;
  margin: 0;
  background: #ffff00;
}
