* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  font-family: "Poppins", "Roboto";
}
body {
  background-color: #000000f3;
}
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #000000;
  border: 1px solid #ffffff1b;
}
::-webkit-scrollbar-thumb {
  background-color: #ffff00aa;
}
